body {
  width: 100%;
  height: 100%;
  font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
  letter-spacing: .1em; }

body, button, p, pre {
  margin: 0; }

h1, h2, h3 {
  margin: 0;
  font: inherit; }

ol, ul {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

/*product style*/
.div-hide {
  display: none; }

.div-show {
  display: inline-block; }

.app {
  width: 100%;
  background: #f6f6f6;
  color: #1a1a1a;
  /* header */
  /*content*/
  /*footer*/ }
  .app .app-header {
    width: 100%;
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 1032px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
    background-clip: content-box;
    text-align: center; }
    .app .app-header > div {
      width: 1000px;
      height: 52px;
      line-height: 52px;
      background: #fff;
      margin: 0 auto;
      padding: 0 10px;
      text-align: left;
      /*transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s,-webkit-transform .3s;*/ }
      .app .app-header > div > div {
        display: inline-block;
        float: left; }
      .app .app-header > div .app-header-logo {
        padding-top: 10px;
        margin-right: 20px;
        height: 52px; }
      .app .app-header > div .app-header-li span {
        display: inline-block;
        width: 60px;
        text-align: left;
        color: #8590a6;
        font-size: 15px; }
        .app .app-header > div .app-header-li span.active {
          color: #1a1a1a; }
      .app .app-header > div .app-header-search .app-input {
        width: 300px;
        margin-right: 10px;
        background: #f6f6f6; }
        .app .app-header > div .app-header-search .app-input:focus {
          width: 350px; }
      .app .app-header > div .app-header-search .app-btn {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px; }
      .app .app-header > div .app-header-r {
        float: right;
        width: 165px; }
        .app .app-header > div .app-header-r > div {
          float: left; }
        .app .app-header > div .app-header-r .app-header-operation {
          height: 52px; }
          .app .app-header > div .app-header-r .app-header-operation span {
            display: inline-block;
            width: 60px;
            text-align: center; }
            .app .app-header > div .app-header-r .app-header-operation span i {
              font-size: 22px;
              color: #8590a6; }
        .app .app-header > div .app-header-r .app-header-admin {
          float: right;
          height: 52px; }
          .app .app-header > div .app-header-r .app-header-admin img {
            width: 30px;
            height: 30px; }
  .app .app-content {
    width: 100%;
    min-height: 500px;
    background: #f6f6f6;
    margin-top: 52px; }
    .app .app-content > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      position: relative;
      width: 1000px;
      padding: 10px 0;
      margin: 0 auto; }
      .app .app-content > div .app-content-main {
        width: 694px;
        margin-right: 10px; }
        .app .app-content > div .app-content-main > div {
          /*main header*/
          /*main special*/
          /*main attention*/
          /*main item*/
          /*main item detail*/ }
          .app .app-content > div .app-content-main > div .app-content-main-header {
            height: 58px;
            padding: 0 20px; }
            .app .app-content > div .app-content-main > div .app-content-main-header > div {
              font-size: 16px;
              color: #1a1a1a;
              display: inline-block;
              margin-right: 25px;
              line-height: 58px; }
              .app .app-content > div .app-content-main > div .app-content-main-header > div span {
                cursor: pointer; }
                .app .app-content > div .app-content-main > div .app-content-main-header > div span i {
                  margin: 0 5px;
                  color: #8590a6;
                  font-size: 16px;
                  font-weight: bold; }
            .app .app-content > div .app-content-main > div .app-content-main-header .app-content-main-header-cg {
              color: #8590a6;
              margin-right: 0;
              float: right; }
          .app .app-content > div .app-content-main > div .app-content-main-special .special-item {
            position: relative;
            padding: 16px 20px; }
            .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-label {
              color: #8590a6;
              font-size: 15px;
              margin-bottom: 10px; }
              .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-label .special-label-close {
                float: right;
                cursor: pointer; }
            .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-img {
              width: 100%;
              height: 200px; }
              .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-img img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px; }
            .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-text {
              margin: 10px 0; }
              .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-text > p {
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 10px; }
              .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-text .special-text-con p {
                color: #1a1a1a;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; }
            .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-op .app-btn {
              margin-right: 20px; }
            .app .app-content > div .app-content-main > div .app-content-main-special .special-item .special-op span {
              color: #646464; }
          .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item {
            position: relative;
            padding: 16px 20px; }
            .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-label {
              color: #8590a6;
              font-size: 15px;
              margin-bottom: 10px; }
              .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-label .attention-label-close {
                float: right; }
            .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-text {
              margin: 10px 0; }
              .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-text > p {
                font-size: 17px;
                font-weight: bold;
                margin-bottom: 10px; }
              .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-text .attention-text-con p {
                color: #1a1a1a;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical; }
                .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-text .attention-text-con p .special-text-con-more {
                  color: #0084FF;
                  margin-left: 5px; }
                  .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-text .attention-text-con p .special-text-con-more i {
                    font-weight: bold;
                    margin-left: 5px;
                    vertical-align: middle; }
            .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-op {
              clear: both;
              overflow: hidden;
              line-height: 32px; }
              .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-op .attention-op-l {
                display: inline-block;
                float: left; }
                .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-op .attention-op-l .app-btn {
                  margin-right: 20px; }
              .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-op .attention-op-r {
                display: inline-block;
                float: left;
                color: #8590a6; }
                .app .app-content > div .app-content-main > div .app-content-main-attention .attention-item .attention-op .attention-op-r span {
                  margin-right: 20px; }
          .app .app-content > div .app-content-main > div .app-content-main-list {
            /*normal item*/
            /*img item*/
            /*close*/ }
            .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item {
              position: relative;
              padding: 16px 20px;
              /*item label*/
              /*item introduction*/
              /*item text*/
              /*item operation*/ }
              .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-label {
                color: #8590a6;
                /*.item-label-title{
                  &:before {
                    content: "\FF0C";
                  }
                }*/ }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-label .item-label-close {
                  float: right;
                  margin-top: -10px;
                  display: none; }
                  .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-label .item-label-close i {
                    font-size: 20px; }
              .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-introduction {
                margin: 8px 0; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-introduction img {
                  width: 24px;
                  height: 24px;
                  margin-right: 10px;
                  float: left; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-introduction span {
                  line-height: 24px;
                  font-size: 14px; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-introduction .item-name {
                  font-weight: bold;
                  color: #1a1a1a;
                  font-size: 15px; }
                  .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-introduction .item-name i {
                    color: #0084FF;
                    margin: 0 0 0 3px;
                    font-size: 15px; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-introduction .item-des {
                  color: #646464; }
                  .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-introduction .item-des:before {
                    content: "\FF0C"; }
              .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-text {
                clear: both; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-text .item-text-title {
                  font-size: 17px;
                  font-weight: bold;
                  margin-bottom: 10px; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-text .item-text-con {
                  margin-bottom: 10px; }
                  .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-text .item-text-con p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical; }
                    .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-text .item-text-con p:hover {
                      color: #646464; }
              .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op {
                clear: both;
                overflow: hidden; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op .item-op-l {
                  display: inline-block;
                  float: left; }
                  .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op .item-op-l div {
                    background: #E5F2FF;
                    display: inline-block;
                    padding: 3px 8px;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    color: #0084FF;
                    margin-right: 3px; }
                    .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op .item-op-l div .icon-op-up {
                      margin-right: 5px; }
                    .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op .item-op-l div [class^=icon-] {
                      font-size: 12px; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op .item-op-r {
                  display: inline-block;
                  float: left;
                  color: #8590a6;
                  height: 27px;
                  line-height: 28px; }
                  .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op .item-op-r span {
                    margin: 0 15px; }
                .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op .item-op-more {
                  float: right;
                  cursor: pointer;
                  line-height: 27px;
                  height: 27px; }
                  .app .app-content > div .app-content-main > div .app-content-main-list .app-content-main-list-item .item-op .item-op-more i {
                    font-weight: bold;
                    margin-left: 5px;
                    vertical-align: middle; }
            .app .app-content > div .app-content-main > div .app-content-main-list .img-item {
              position: relative;
              padding: 16px 20px; }
              .app .app-content > div .app-content-main > div .app-content-main-list .img-item .item-text .item-text-con {
                overflow: hidden; }
                .app .app-content > div .app-content-main > div .app-content-main-list .img-item .item-text .item-text-con img {
                  width: 190px;
                  height: 105px;
                  display: inline-block;
                  float: left; }
                .app .app-content > div .app-content-main > div .app-content-main-list .img-item .item-text .item-text-con p {
                  width: calc(100% - 210px);
                  height: 105px;
                  float: right;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 4;
                  -webkit-box-orient: vertical;
                  line-height: 27px; }
            .app .app-content > div .app-content-main > div .app-content-main-list:hover .item-label .item-label-close {
              display: inline-block; }
          .app .app-content > div .app-content-main > div .app-content-detail {
            /*normal item*/ }
            .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item {
              position: relative;
              padding: 16px 20px;
              /*item label*/
              /*item introduction*/
              /*item text*/
              /*item operation*/ }
              .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-label {
                color: #8590a6;
                /*.item-label-title{
                  &:before {
                    content: "\FF0C";
                  }
                }*/ }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-label .item-label-close {
                  float: right;
                  margin-top: -10px;
                  display: none; }
                  .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-label .item-label-close i {
                    font-size: 20px; }
              .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-introduction {
                margin: 8px 0; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-introduction img {
                  width: 24px;
                  height: 24px;
                  margin-right: 10px;
                  float: left; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-introduction span {
                  line-height: 24px;
                  font-size: 14px; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-introduction .item-name {
                  font-weight: bold;
                  color: #1a1a1a;
                  font-size: 15px; }
                  .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-introduction .item-name i {
                    color: #0084FF;
                    margin: 0 0 0 3px;
                    font-size: 15px; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-introduction .item-des {
                  color: #646464; }
                  .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-introduction .item-des:before {
                    content: "\FF0C"; }
              .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-text {
                clear: both; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-text .item-text-title {
                  font-size: 17px;
                  font-weight: bold;
                  margin-bottom: 10px; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-text .item-text-con {
                  margin-bottom: 10px; }
                  .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-text .item-text-con p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical; }
                    .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-text .item-text-con p:hover {
                      color: #646464; }
              .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op {
                clear: both;
                overflow: hidden; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op .item-op-l {
                  display: inline-block;
                  float: left; }
                  .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op .item-op-l div {
                    background: #E5F2FF;
                    display: inline-block;
                    padding: 3px 8px;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    color: #0084FF;
                    margin-right: 3px; }
                    .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op .item-op-l div .icon-op-up {
                      margin-right: 5px; }
                    .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op .item-op-l div [class^=icon-] {
                      font-size: 12px; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op .item-op-r {
                  display: inline-block;
                  float: left;
                  color: #8590a6;
                  height: 27px;
                  line-height: 28px; }
                  .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op .item-op-r span {
                    margin: 0 15px; }
                .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op .item-op-more {
                  float: right;
                  cursor: pointer;
                  line-height: 27px;
                  height: 27px; }
                  .app .app-content > div .app-content-main > div .app-content-detail .app-content-detail-item .item-op .item-op-more i {
                    font-weight: bold;
                    margin-left: 5px;
                    vertical-align: middle; }
      .app .app-content > div .app-content-rightBar {
        width: 296px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        position: fixed;
        right: calc((100% - 1000px)/2); }
        .app .app-content > div .app-content-rightBar > div .rightBar-header {
          padding: 20px 20px 8px 20px;
          overflow: hidden; }
          .app .app-content > div .app-content-rightBar > div .rightBar-header div {
            width: 33.33%;
            float: left;
            height: 55px;
            margin-bottom: 25px;
            cursor: pointer; }
            .app .app-content > div .app-content-rightBar > div .rightBar-header div p {
              text-align: center; }
              .app .app-content > div .app-content-rightBar > div .rightBar-header div p span i {
                font-size: 25px; }
              .app .app-content > div .app-content-rightBar > div .rightBar-header div p span .icon-pro-live {
                color: #FFCF00; }
              .app .app-content > div .app-content-rightBar > div .rightBar-header div p span .icon-pro-label {
                color: #43D480; }
              .app .app-content > div .app-content-rightBar > div .rightBar-header div p span .icon-pro-pyq {
                color: #0084FF; }
              .app .app-content > div .app-content-rightBar > div .rightBar-header div p span .icon-pro-edit {
                color: #0F88EB; }
              .app .app-content > div .app-content-rightBar > div .rightBar-header div p span .icon-pro-fw {
                color: #6988F2; }
        .app .app-content > div .app-content-rightBar > div .rightBar-operation {
          padding: 8px 0; }
          .app .app-content > div .app-content-rightBar > div .rightBar-operation p {
            color: #8590a6;
            line-height: 40px;
            font-size: 14px;
            padding: 0 20px;
            cursor: pointer; }
            .app .app-content > div .app-content-rightBar > div .rightBar-operation p span i {
              margin-right: 5px;
              font-size: 20px; }
            .app .app-content > div .app-content-rightBar > div .rightBar-operation p .rightBar-operation-num {
              float: right;
              border-radius: 2px;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              -ms-border-radius: 2px;
              -o-border-radius: 2px;
              background: #f6f6f6;
              color: #8590a6;
              width: 28px;
              height: 28px;
              line-height: 28px;
              margin-top: 8px;
              text-align: center; }
              .app .app-content > div .app-content-rightBar > div .rightBar-operation p .rightBar-operation-num em {
                font-style: normal; }
            .app .app-content > div .app-content-rightBar > div .rightBar-operation p:hover, .app .app-content > div .app-content-rightBar > div .rightBar-operation p.active {
              background: #f6f6f6; }
              .app .app-content > div .app-content-rightBar > div .rightBar-operation p:hover .rightBar-operation-num, .app .app-content > div .app-content-rightBar > div .rightBar-operation p.active .rightBar-operation-num {
                background: #fff; }
